<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TermoTech</title>
    <link rel="stylesheet" href="/staticDashboard/css/reset.css" />
    <link rel="stylesheet" href="/staticDashboard/css/maquinasLayout.css">
    <link rel="stylesheet" href="/staticDashboard/css/faleConosco.css">
    <link rel="stylesheet" href="/staticDashboard/css/layout.css" />
  </head>
  <body>
    <div class="div-conteiner">
      <div class="div-principal">
        <div class="div-lateral">
          <h3 id="name_user">Bem-vindo(a), </h3>
          <ul>
              <li>
                <a href="/supervisorPremium/painel"><img src="/staticDashboard/img/imagensPaineis/Vetor Painel.png" alt="vetorPainel" />Painel</a>
              </li>
              <li>
                <a href="/supervisorPremium/historico"><img src="/staticDashboard/img/imagensPaineis/Calendar.png" alt="vetorCalendario" />Histórico</a>
              </li>
              <li>
                <a href="/supervisorPremium/maquinas"><img src="/staticDashboard/img/imagensPaineis/Vetor Maquinas.png" alt="vetorMaquinas" />Máquinas</a>
              </li>
             
              <li>
                <a href="/supervisorPremium/usuarios"><img src="/staticDashboard/img/imagensPaineis/Vetor Usuarios.png"alt="vetorUsuario" />Funcionários</a>
              </li>
              <li class="sair">
                <a onclick="sairConta()"><img src="/staticDashboard/img/imagensPaineis/log-out.png" alt="vetorLogOut" />Sair</a>
              </li>
            </ul>
        </div>
        <section class="section-principal">
  
          <div class="div-principal-topo">
            <img class="id-logo" src="/staticDashboard/img/imagensPaineis/logo.png" alt="logo_termoTech" />
            <span class="page-title">Máquinas</span>
            <a onclick="abrirPopUp()" class="vetor-contato-a">
              <img src="/staticDashboard/img/imagensPaineis/vetor contato.png" alt="vetorContato" class="vetor-contato" id="vetor_contato" /></a>
          </div>
          <div id="section_details" class="div-principal-central" style="justify-content: start; overflow: auto;">

          </div>
        </section>
    </div>
    <div id="fale_conosco"></div>
    <div class="content-alert" id="popup_alerta"> 
    </div>
  </body>
</html>
<script src="/staticDashboard/js/faleConosco.js"></script>
<script src="/staticDashboard/js/configMaquina.js"></script>
<script>
  name_user.innerHTML += sessionStorage.NOME_USUARIO;
</script>
        <!--               
                      <details class="maq-details" style="margin-top: 2%;">
                        <summary><h1>Máquina 2</h1><img src="/staticDashboard/img/imagensPaineis/Vetor Maquina.png" alt="Vetor Maquinas"></summary>
                        <div class="column-text">
                          Configuração dos sensores:
                        </div>
                        <div class="maquinas">
                          <div class="maquinas-sensores">
                            <div class="card-sensor">
                              <h6>Matriz</h6>
                              <div class="circle-stats"></div>
                            </div>
                            <div class="card-sensor">
                              <h6>Anel</h6>
                              <div class="circle-stats"></div>
                            </div>
                            <div class="card-sensor">
                                <h6>Reator</h6>
                                <div class="circle-stats"></div>
                            </div>
                            <div class="card-sensor">
                              <h6>Umidade</h6>
                              <div class="circle-stats"></div>
                            </div>
                          </div>
                          <div class="maq-inp-temp" id="div_interval_temp2">
                                <table class="info-temp-table">
                                  <tr>
                                    <th></th>
                                    <th>MATRIZ</th>
                                    <th>REATOR</th>
                                    <th>ANEL DE RESFRIAMENTO</th>
                                    <th>UMIDADE</th>
                                  </tr>
                                  <tr>
                                    <td>MÁX</td>
                                    <td id="td_max_matriz2">300°C</td>
                                    <td id="td_max_reator2">300°C</td>
                                    <td id="td_max_anel2">80°C</td>
                                    <td id="td_max_umidade2">50%</td>
                                  </tr>
                                  <tr>
                                    <td>MÍN</td>
                                    <td id="td_min_matriz2">150°C</td>
                                    <td id="td_min_reator2">100°C</td>
                                    <td id="td_min_anel2">20°C</td>
                                    <td id="td_min_umidade2">20%</td>
                                  </tr>
                                </table>
                                <div onclick="trocar2()" class="div-pen">
                                  <img  src="/staticDashboard/img/imagensPaineis/Vetor lapis.png" alt="">
                                </div>
                          </div>
                        </div>
                        <div class="user-maq">
                            <div class="title-func">
                                <h6>Nome</h6>
                                <h6>Status</h6>
                                <h6>E-mail</h6>
                            </div>
                            <div class="func-info">
                                <img src="/staticDashboard/img/imagensPaineis/Vetor usuario.png" alt="">
                                <h6>Fernanda Caramico</h6>
                                <h6>Supervisor</h6>
                                <h6>fernanda.caramico@sptech.school</h6>
                            </div>
                            <div class="func-info">
                              <img src="/staticDashboard/img/imagensPaineis/Vetor usuario.png" alt="">
                              <h6>Sergio Almeida</h6>
                              <h6>Funcionário</h6>
                              <h6>sergio.almeida@sptech.school</h6>
                          </div>                        
                          <div class="func-info">
                              <img src="/staticDashboard/img/imagensPaineis/Vetor usuario.png" alt="">
                              <h6>Isabela Ferreira</h6>
                              <h6>Funcionário</h6>
                              <h6>isabela.ferreira@sptech.school</h6>
                          </div>
                          <div class="func-info">
                              <img src="/staticDashboard/img/imagensPaineis/Vetor usuario.png" alt="">
                              <h6>Laura Basco</h6>
                              <h6>Funcionário</h6>
                              <h6>laura.basco@sptech.school</h6>
                          </div>
                        </div>
                      </details> -->
<script src="/staticDashboard/js/alerta.js"></script>
<script src="/staticDashboard/js/session.js"></script>