@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */

#div_alerta{
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.318);
    position: absolute;
    flex-direction: column;
    overflow: auto;
}
.container-alert{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 320px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    left: 39%;
    margin-bottom: 10px;
}
.container-alert h1{
    font-size: large;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
.container-alert h2{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 800;
}
.container-alert h5{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 800;
}
.btn-close-alert{
    position: fixed;
    margin: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    transition: .3s;
    border: 2px solid white;
}
.btn-close-alert:hover{
    cursor: pointer;
    transform: scale(1.1);
}