@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */

#div_alerta{
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.318);
    position: absolute;
    flex-direction: column;
    overflow: auto;
}
.container-alert{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 320px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    left: 39%;
    margin-bottom: 10px;
}
.container-alert h1{
    font-size: large;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
.container-alert h2{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 800;
}
.container-alert h5{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 800;
}
.btn-close-alert{
    position: fixed;
    margin: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    transition: .3s;
    border: 2px solid white;
}
.btn-close-alert:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.content-alert{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000003a;
    backdrop-filter: blur(1.5px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20%;
    background-color: #ffffff;
    border-radius: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 15px 1px #000;
}
.head-card{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.8rem 0.8rem 0 0;
    background-color: yellow;
    font-weight: 600;
}
.head-card svg{
    width: 30px;
    margin-left: 10%;
    cursor: pointer;
}
.body-card-alert{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}