@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body{
    background-image: url(../img/imagensPaineis/Fundo.png);  /* Aqui eu defino como será o fundo */
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#div_conteiner {
    width: 90%;
    height: 90%;
    background-color: rgb(255, 255, 255, 0.3); /* Aqui eu crio o conteiner (Bloco central) */
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_principal {
    height: 100%;
    width: 100%;
    display: flex;      /* Aqui eu defino como ficarão alinhadas as divisorias dentro do conteine*/
    align-items: center;
    justify-content: center;
}


#div_lateral {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Aqui cria a lacuna lateral em cinza */
    align-items: center;
    background-color: grey;
}

#div_lateral h3 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif; /* Aqui muda o titulo*/
    font-weight: bolder;
}

.menu-lateral ul {
    list-style-type: none; /* Aqui tira a marcação de tópico */
}

.menu-lateral li {
    padding: 5px; 
    font-size: 20px; /* Aqui define os tamanhos da lista*/
    font-family: 'Montserrat', sans-serif;
}

.menu-lateral ul li img {
    height: 30px;
    width: 30px; /*Aqui define os tamanhos da img*/
    margin-right: 15px;
}
.menu-lateral a {
    text-decoration: none; /* Aqui tira os efeitos visuais da ancora*/
    color: black
}

.menu-lateral ul #id_usuario {
    margin-top: 50%; /*Da o espaçamento entre os vetores*/
}

#div_lateral .menu-lateral li:hover {
    border-radius: 5px; /*Cria o efeito ao passar o mouse em cima*/ 
    background-color: lightgray; 
}

.section-principal {
    height: 100%;
    width: 100%;
    display: flex; /*Aqui eu configuro como ficará a sessão que contera os dois graficos*/
    flex-direction: column;
}

#div_principal_topo {
    display: flex;
    align-items: center;
    justify-content: center;    /*Aqui é sobre a parte de cima da sessão*/
    width: 100%;
    height: 20%;
}
#id_logo{
    width: 120px;
    height: auto;   /*Tamanho do logo*/
    margin-right: 0%;
}
.page-title {
    margin-right: 50%;
    margin-left: 0;
    margin-top: 5%;     /*Configurações do titulo baseadas no Figma*/
    font-size: 54px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#div_principal_central {
    width: 100%;
    height: 80%;
    display: flex;  /*Aqui define como as duas div de graficos ficarão separadas*/
    justify-content: center;
    align-items: center;
    gap: 2.5%;
}

.chart {
    background-color: rgb(255, 255, 255, 0.3);
    width: 45%;     /*Aqui é a classe que estiliza as divs dos graficos*/
    height: 90%;
}

.select_maquinas {
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    border: 2px solid rgba(8, 6, 0, 0.166);
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 78%;
    margin-top: 3%;
}
#div_chart2 {
    display: flex;
    flex-direction: column;
}
#progresss::-webkit-progress-value {
    background: -webkit-linear-gradient(top, #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    }
    #progresss::-webkit-progress-value {
    background: -webkit-linear-gradient(top, #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    }