@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */


.section-principal {
    height: 100%;
    width: 100%;
    display: flex; /*Aqui eu configuro como ficará a sessão que contera os dois graficos*/
    flex-direction: column;
}


.div-principal-central {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    display: flex;  
    justify-content: space-evenly;
    /* align-items: center; */
    background-color: rgb(255, 255, 255, 0.3);
    flex-direction: row;
    /* margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 5px; */
    font-family: 'Montserrat', sans-serif;
}

.chart {
    background-color: rgba(255, 255, 255, 0.767);
    width: 50%;     /*Aqui é a classe que estiliza as divs dos graficos*/
    padding: 5px;
    height: 90%;
}
.chart:nth-child(1){
    border-radius: 5px 0 0 5px;
}
.chart:nth-child(2){
    border-radius: 0 5px 5px 0;
}

.select_maquinas {
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    border: 2px solid rgba(8, 6, 0, 0.166);
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 78%;
    margin-top: 3%;
}
#div_chart2 {
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

progress {
    width: 100px;
    height: 16px;
    border: 1px solid #1D1E2C;
    border-radius: 8px;
}
  

progress::-webkit-progress-value {
    background: rgb(219,166,137);
    background: linear-gradient(100deg, rgba(219,166,137,1) 0%, rgba(255,222,222,1) 50%, rgba(230,177,123,1) 100%);
border-radius: 8px;
}

progress::-webkit-progress-bar {
    background-color: #1D1E2C;
    border-radius: 8px;
}

.div-maquinas-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
}
.div-maquinas-texto {
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    height: 90%;
    font-size: 12px;
}
.div-maquinas-geral:nth-child(1) .div-maquinas-texto:nth-child(2){
    margin-top: 10%;
}
.div-maquinas-geral {
    margin-top: 5%;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.div-maquinas-geral-titulo {
    width: 100%;
    height: 10%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5%;
}

.div-maquinas-geral-conteudo {
    width: 100%;
    height: 90%;
    display: flex;
}

.div-maquinas-geral-filho {
    width: 33%;
    height: 100%;
    display: flex;
   flex-direction: column;
   
}

.div-maquinas-geral-neto {
    width: 100%;
    height: 25%;
}

.div-maquinas-geral-neto {
    font-size: 12px;
}

#div_chart2::-webkit-scrollbar {
    width: 8px;
    height: 4px; /* largura da barra de rolagem */
}

#div_chart2::-webkit-scrollbar-thumb {
    background-color: white; /* cor do polegar da barra de rolagem */
    border-radius: 6px; /* borda arredondada do polegar */
}

#div_chart2::-webkit-scrollbar-track {
    background-color: #1D1E2C; /* cor da trilha da barra de rolagem */
}

.menu-lateral ul li {
    padding: 2px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 99%;
}
