<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TermoTech</title>
    <link rel="stylesheet" href="/staticDashboard/css/reset.css" />
    <link rel="stylesheet" href="/staticDashboard/css/maquinasLayout.css">
    <link rel="stylesheet" href="/staticDashboard/css/faleConosco.css">
    <link rel="stylesheet" href="/staticDashboard/css/layout.css" />
  </head>
  <body>
    <div class="div-conteiner">
      <div class="div-principal">
        <div class="div-lateral">
          <h3 id="name_user">Bem-vindo(a), </h3>
          <ul>
              <li>
                <a href="/usuarioBasic/painel"><img src="/staticDashboard/img/imagensPaineis/Vetor Painel.png" alt="vetorPainel" />Painel</a>
              </li>
              <li>
                <a href="/usuarioBasic/historico"><img src="/staticDashboard/img/imagensPaineis/Calendar.png" alt="vetorCalendario" />Histórico</a>
              </li>
              <li>
                <a href="/usuarioBasic/maquinas"><img src="/staticDashboard/img/imagensPaineis/Vetor Maquinas.png" alt="vetorMaquinas" />Máquinas</a>
              </li>
             
              <!-- <li>
                <a href="usuarios.html"><img src="/staticDashboard/img/imagensPaineis/Vetor Usuarios.png"alt="vetorUsuario" />Funcionários</a>
              </li> -->
              <li class="sair">
                <a href="/login"><img src="/staticDashboard/img/imagensPaineis/log-out.png" alt="vetorLogOut" />Sair</a>
              </li>
            </ul>
        </div>
        <section class="section-principal">
  
          <div class="div-principal-topo">
            <img class="id-logo" src="/staticDashboard/img/imagensPaineis/logo.png" alt="logo_termoTech" />
            <span class="page-title">Máquinas</span>
            <a onclick="abrirPopUp()" class="vetor-contato-a">
              <img src="/staticDashboard/img/imagensPaineis/vetor contato.png" alt="vetorContato" class="vetor-contato" id="vetor_contato" /></a>
            <a class="vetor-Notificacao" class="vetor-notificacao-a">
              <img src="/staticDashboard/img/imagensPaineis/Notification.png" alt="vetorNotificacao" class="vetor-notificacao" id="vetor_notificacao" />
            </a>
          </div>
          <div id="section_details" class="div-principal-central" style="justify-content: start;">
            </div>
        </div>
      </section>
      <div id="fale_conosco"></div>
    </div>
  </body>
</html>

<script src="/staticDashboard/js/faleConosco.js"></script>
<script src="/staticDashboard/js/configMaquina.js"></script>

<script>
  name_user.innerHTML += sessionStorage.NOME_USUARIO;
</script>