<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/staticSite/CSS/reset.css">
    <link rel="stylesheet" href="/staticSite/CSS/sobre.css">
    <link rel="shortcut icon" href="/staticSite/imagens/logo.png" type="image/png" sizes="64x64">
    <link rel="stylesheet" href="/staticSite/CSS/faleConosco.css">
</head>
<body>
    <header id="cabecalho-home">
        <a href="/"><img src="/staticSite/imagens/logo.png" width="100"></a>

        <ul>
            <li>
                <a href="/">
                    Início
                </a>
            </li>
            <li>
                <a href="/simulador">
                    Entenda como <br> vamos te ajudar
                </a>
            </li>
            <li>
                <a>
                    Login
                </a>
            </li>
        </ul>
    </header>
    <main>
        <h1>
            Nosso Projeto
        </h1>
        <br>
        <div class="sessoes">
            <img src="/staticSite/imagens/monitoramento.png" width="256" height="236">
            
            <p>
                Um monitoramento contínuo e preciso da temperatura possibilita um controle mais eficaz sobre as condições da produção
            </p>
        </div>

        <div class="sessoes">
            
            <p>
                Contribui para a redução de desperdício de matéria-prima e recursos, evitando a possibilidade de produtos defeituosos ou rejeitados
            </p>
            
            <img src="/staticSite/imagens/reducao.png" width="256" height="256">
        </div>

        <div class="sessoes">
            <img src="/staticSite/imagens/alerta.png" width="256" height="236">
            
            <p>
                Emissões de alertas que permitem ações preventivas para evitar problemas de qualidade ou falhas no processo
            </p>
        </div>
    </main>
    <footer class="footer">
        <div id="div_esquerda" class="div-footer-esquerda">
          <a href="https://www.instagram.com/" target="_blank">Instagram <img src="/staticSite/imagens/home/iconeInstagram.png"></a> <br>
          <a href="https://api.whatsapp.com/" target="_blank">Telefone <img src="/staticSite/imagens/home/iconeTelefone.png"></a> <br>
          <a href="mailto:termoTechContato@gmail.com" target="_blank">E-mail <img src="/staticSite/imagens/home/iconeEmail.png"></a>
        </div>
        <div id="div_centro" class="div-footer-centro">
          <a href="/login" target="_blank">Faça Login <img src="/staticSite/imagens/home/iconeLogin.png"></a> <br>
          <button onclick="abrirPopUp()">
            Fale Conosco <img src="/staticSite/imagens/home/iconeFaleConosco.png">
          </button>
        </div>
        <div id="div_direita" class="div-footer-direita">
          <a href="#cabecalho-home"><img src="/staticSite/imagens/home/iconeLogo.png" width="215px"></a>
        </div>
      </footer>
      <div id="fale_conosco"></div>
</body>
</html>
<script src="/staticSite/JS/faleConosco.js"></script>